---
layout: default
---

<h1 class="academic">Academic Engagements</h1>
<div class="grid-x">
  <div class="grid-x cell small-12 medium-6 grid-padding-x">
    TODO logos go here
  </div>

  <div class="grid-x cell small-12 medium-6 grid-padding-x">
    <div class="academic-engagements cell">
      {% assign academic_order = site.academic-engagements | sort: 'date' | reverse %}
      {% for event in academic_order %}
      <div class="event cell">
        <p class="metadata">
          {{event.role}} - {{event.location}}
        </p>
        <p class="title">{{event.title}}</p>
      </div>
      {% endfor %}
    </div>
    <div class="education cell">
      <h3>Education</h3>
      {% assign education_order = site.education | sort: 'date' | reverse %}
      {% for event in education_order %}
      <div class="event cell">
        <p class="metadata">
          {{event.institution}} - {{event.location}}
        </p>
        <p class="title">{{event.title}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>