---
layout: default
---
<div class="hospitality-talks">
  <section class="intro grid-x grid-padding-x">
    <div class="cell">
      <h1 class="visually-hidden">Hospitality Talks</h1>
      <img src="/img/hospitality-talks-logo.svg" alt="Hospitality Talks Logo">
      <p>This forum, of global lodging and hospitality industry professionals, connects various stakeholders for active discussions.  Our mission is to foster conversations on issues facing the industry and identify ways to work together for the greater benefit.</p>
    </div>
    <div class="cell social-container">
      <a href="{{ site.ht-youtube }}" target="_blank"><i class="fa-brands fa-youtube fa-2x"></i></a>
      <a href="{{ site.ht-facebook }}" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a>
      <a href="{{ site.ht-linkedin }}" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a href="{{ site.ht-podcast }}" target="_blank"><i class="fa-solid fa-podcast fa-2x"></i></a>
      <a href="{{ site.ht-spotify }}" target="_blank"><i class="fa-brands fa-spotify fa-2x"></i></a>
    </div>
  </section>

  <div class="grid-x align-center grid-padding-x">
  {% assign hospitality-talks_order = site.hospitality-talks | sort: 'date' | reverse %}
  {% assign i = 1 %}

    {% for session in hospitality-talks_order %}
      {% if i <=4 %}
      <div class="cell medium-10 session-container">
        <iframe width="100%" src="{{ session.video | replace: 'https://youtu.be/', 'https://www.youtube.com/embed/' }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>{{session.title}}</h2>
        <p>{{session.description}}</p>
      </div>
      {% assign i = i | plus: 1 %}
      {% endif %}
      {% if i == 3 %}
          <div class="cell medium-10 grid-x align-middle">
            <div class="cell banner grid-x">
              <div class="cell small-12 medium-auto">
                <img src="/img/hospitality-talks-logo-blue.svg" alt="Hospitality Talks Logo">
              </div>
              <div class="cell small-12 medium-shrink">
                <a href="{{ site.ht-youtube }}" target="_blank">
                  <div class="subscribe-button grid-x align-middle align-center">
                    <span class="cell shrink">Subscribe</span>
                    <i class="cell shrink fa-brands fa-youtube fa-2x"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>

        {% endif %}
    {% endfor %}
  </div>
</div>