---
layout: default
---

<h1>Speaking Engagements</h1>
<div class="grid-x">
  <div class="grid-x cell small-12 medium-6 grid-padding-x">
    {% assign news_order = site.news | sort: 'date' | reverse %}
    {% for item in news_order %}
      <div class="small-12 cell">
        <div class="news-container">
          
          {% if item.image %}
          <img class="press-image no-select" alt="{{ item.caption }}" src="/img/news/{{ item.image }}">
          <span class="caption">{{ item.caption }}</span>
          {% endif %}
          
          {% if item.title %}
            {% if item.link %}
            <a class="post-link" href="{{ item.link }}">
              <span class="title">{{ item.title }}</span>
              <span class="link">{{ item.link | truncate: 30 }}</span>
            </a>
            {% endif %}
        
            {% if item.pdf %}
            <a class="post-link" href="{{ item.pdf }}">
              <span class="title">{{ item.title }}</span>
              <span class="link">{{ item.pdf }}</span>
            </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="cell small-12 medium-6 grid-padding-x">
    {% assign speaking_order = site.speaking-engagements | sort: 'date' | reverse %}
    {% for event in speaking_order %}
    <div class="event">
      <p class="metadata">
        {% if event.event-type %}
          {{event.event-type}} -
        {% endif %}
        {{event.location}}
        {{event.date | date: "%Y"}}
      </p>
      <p class="title">{{event.event-name}}</p>
    </div>
    {% endfor %}
    <div class="event">
      <p class="metadata">USA 2019</p>
      <p class="title">CEO Thought Leadership Round Table</p>
    </div>
    <p>CEO Thought Leadership Round table 2019 - USA</p>
    <p>Panelist – Tourism & Hotel Investment Conference 2019 - Sri Lanka</p>
    <p>CEO Thought Leadership Round Table 2019 - Germany</p>
    <p>Panelist - Hotel Investment Conference Asia Pacific 2018 – Hong Kong</p>
    <p>Panelist - CHIF 2018 - China</p>
    <p>CEO Thought Leadership Round Table 2018 – USA</p>
    <p>Panelist - Alternative Accommodations Conference Asia Pacific 2018 – Singapore</p>
    <p>Panelist - Revenue Strategy Summit 2017 – USA</p>
    <p>Presentation - Transport & Leisure Conference 2017 – United Kingdom</p>
    <p>Presentation - Top Gun event for ABASTUR  2016 – Mexico</p>
    <p>Presentation - Global Tourism Economy Forum 2016 – Macau</p>
    <p>Presentation – Hotel Asset Management Association 2015 - Singapore</p>
    <p>Panelist - World Tourism & Travel Council 2015 – Korea</p>
    <p>Presentation – International Luxury Travel Mart 2014 - China</p>
    <p>Panelist - Hotel Investment Conference South Asia 2014 – India</p>
    <p>Panelist – Luxury Hospitality Summit - Greece</p>
    <p>Panelist - Brazil Hospitality Investment Conference 2014 – Brazil</p>
    <p>Presentation – Resort Development & Hospitality Conference 2014 - UAE</p>
    <p>Panelist – Tourism and Hotel Investment Conference 2014 - Indonesia</p>
    <p>Panelist - Hospitality Investment World 2014 – Indonesia</p>
    <p>Panelist - CIS & Georgia Hospitality Investment Conference 2014 – Ukraine</p>
    <p>Presentation – American Chamber of Commerce, Speakers Series 2103 - Singapore</p>
    <p>Panelist - China Hotel Investment Conference 2013 – China</p>
    <p>Presentation – Annual Integrated Resort Development Conference - China</p>
    <p>Panelist – Hotelier Summit 2013 – India</p>
  </div>
</div>