<footer>
  <div class="grid-container grid-x">
    <div class="small-12 cell grid-x align-middle">
      <div class="shrink cell">
        <a href="{{ site.url }}"><img class="logo" src="../img/logo.svg" alt="Logo"></a>
      </div>
      <div class="cell auto grid-x align-right">
        <a href="{% link index.html %}" class="cell shrink nav-item">
          About
        </a>
        <a href="" class="cell shrink nav-item">
          Hospitality Talks
        </a>
      </div>
    </div>
  </div>




  <!-- <div class="row">
    <div class="footer-left small-6 columns">
      <img class="no-select logo" src="../img/logo.svg">
    </div>
    <div class="footer-right small-6 columns">
      <a href="https://www.linkedin.com/in/abidbutt/"><img class="linkedin" alt="Linkedin" src="../img/linkedin.svg"></a>
      <a href="https://twitter.com/abmhb"><img class="twitter" alt="Twitter" src="../img/twitter.svg"></a>
    </div>
  </div> -->
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-104944935-1', 'auto');
  ga('send', 'pageview');
 
</script>