<footer>
  <div class="grid-container grid-x">
    <div class="small-12 cell grid-x align-middle">
      <div class="shrink cell grid-y" style="height: 100%;">
        <div class="cell auto">
          <a href="{{ site.url }}"><img class="logo" src="../img/logo.svg" alt="Logo"></a>
        </div>
        <div class="cell">
          <p class="copyright no-select">copyright © {{ 'now' | date: "%Y" }} Abid Butt</p>
        </div>

      </div>

      <div class="cell grid-x auto">
        <div class="cell small-12 grid-x align-right nav-container">
          <a href="{% link index.html %}" class="cell shrink nav-item">
            About
          </a>
          <a href="{% link hospitality-talks.html %}" class="cell shrink nav-item">
            Hospitality Talks
          </a>
          <a href="{% link industry-engagement.html %}" class="cell shrink nav-item">
            Industry Engagements
          </a>
          <a href="{% link academic-engagement.html %}" class="cell shrink nav-item">
            Academic Engagements
          </a>
        </div>
        <div class="cell grid-x align-right small-12 social-container align-middle">
          <span>Abid Butt</span>
          <a href="{{ site.ht-linkedin }}" target="_blank"><i class="fab fab fa-linkedin fa-2x"></i></a>
          <a href="{{ site.ht-facebook }}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="{{ site.ht-podcast }}" target="_blank"><i class="fab fab fa-instagram fa-2x"></i></a>
          <a href="{{ site.ht-spotify }}" target="_blank"><i class="fab fas fa-envelope fa-2x"></i></a>
        </div>
        <div class="cell grid-x align-right small-12 social-container align-middle">
          <span>Hospitality Talks</span>
          <a href="{{ site.ht-youtube }}" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
          <a href="{{ site.ht-facebook }}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="{{ site.ht-linkedin }}" target="_blank"><i class="fab fab fa-linkedin fa-2x"></i></a>
          <a href="{{ site.ht-podcast }}" target="_blank"><i class="fab fas fa-podcast fa-2x"></i></a>
          <a href="{{ site.ht-spotify }}" target="_blank"><i class="fab fab fa-spotify fa-2x"></i></a>
        </div>
      </div>

    </div>
  </div>




  <!-- <div class="row">
    <div class="footer-left small-6 columns">
      <img class="no-select logo" src="../img/logo.svg">
    </div>
    <div class="footer-right small-6 columns">
      <a href="https://www.linkedin.com/in/abidbutt/"><img class="linkedin" alt="Linkedin" src="../img/linkedin.svg"></a>
      <a href="https://twitter.com/abmhb"><img class="twitter" alt="Twitter" src="../img/twitter.svg"></a>
    </div>
  </div> -->
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-104944935-1', 'auto');
  ga('send', 'pageview');
 
</script>