<header>
  <div class="grid-container grid-x">
    <div class="small-12 cell grid-x align-middle">
      <div class="shrink cell">
        <a href="{{ site.url }}"><img class="logo" src="../img/logo.svg" alt="Logo"></a>
      </div>
      <div class="cell auto grid-x align-right">
        <div class="cell shrink nav-item-container">
        <a href="{% link index.html %}" class="nav-item">
          About
        </a>
      </div>
      <div class="cell shrink nav-item-container">
        <a href="{% link speaking-engagement.html %}" class="cell  nav-item">
            Speaking
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
