<header>
  <div class="grid-container grid-x">
    <div class="small-12 cell grid-x align-middle">
      <div class="shrink cell">
        <a href="{{ site.url }}"><img class="logo" src="../img/logo.svg" alt="Logo"></a>
      </div>
      <div class="cell auto grid-x align-right">
        <a href="{% link index.html %}" class="cell shrink nav-item">
          About
        </a>
        <a href="{% link hospitality-talks.html %}" class="cell shrink nav-item">
          Hospitality Talks
        </a>
      </div>
    </div>
  </div>
</header>
