<div class="hero">
  <div class="grid-container">
    <section class="intro grid-x grid-padding-x">
      <!-- TODO grid-padding-x not working here on mobile causing >100% width; negative margin is causing the issue -->
      <div class="cell small-6 medium-4 photo">
        <div class="cell">
          <img src="/img/abid.png" alt="Portrait of Abid Butt">
        </div>
      </div>
      <div class="cell small-12 medium-auto text-container">
        <h1>A creative and dynamic leader with a passion for tourism and hospitality.</h1>
        <p>Performance driven C-level executive with a proven track record of leading global, diverse teams to deliver best-in-class results. I provide strategic vision and decisive leadership that accelerates organizational growth and transformation. My expertise lies in driving sustainable change, fostering innovation, and creating measurable value through strong business acumen, ingenuity, and data informed decision making.</p>
        <p>I am deeply committed to building trusted stakeholder partnerships and cultivating collaborative, high performance cultures. With extensive experience managing high volume, multi-site operations across five continents, I bring a global perspective and operational excellence to every organization I serve.</p>
        <p>As host of <a href="https://abambassadors.com/hospitality-talks.html" target="_blank">Hospitality Talks</a>, I lead a forum that fosters meaningful dialogue around the most pressing issues shaping the hospitality industry today.</p>
        <div class="grid-x cta-container cell">
          <div class="email-wrapper cta-button cell shrink" onclick="copyToClipboard('me@abid-butt.com',this)">
            <i class="fa-solid fa-envelope"></i> Email Me
          </div>
          <a target="_blank" rel="noopener" class="cta-button cell shrink" href="https://www.linkedin.com/in/abidbutt/">
            <i class="fa-brands fa-linkedin"></i> Message Me
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
